.block-form {
	margin: 10px;

	&__input {
		padding: 5px 20px;
		border-radius: 5px;
	}

	&__button {
		width: 100px;
		padding: 5px 20px;
		border-radius: 5px;
	}
}

.block-list {
	display: flex;
	flex-direction: column;

	// &__toDo {
	// 	display: flex;
	// 	width: 20%;
	// }

	&__icon-trash {
		justify-self: end;
	}

	// &__icon-delete {
	// 	margin-left: 4%;
	// }
}